  $white: #fff;
  $side_blue_dark: #253141;
  $side_blue_light: #2f3e51;
  $light_blue: #38AEF0;
  $light_gray: #999;
  $black: #434a54;
  $alert_orange: #F35500;


  .flash-box{
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    width: 100vw;
  }

  .notification {
    .notice {
      background-color: $light_blue;
      color: $white;
      text-align: center;
    }

    .alert {
      background-color: $alert_orange;
      color: $white;
      text-align: center;
    }
  }
