!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield








  / %div.group__group-name
  / %div.chat-main
  /   %div.main-header
  /   %div.main-header__left-box
  /   %div.main-header__edit-btn
  / %div.messages
